.PatientApp{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 50px;
}

.PatientApp h1{
    font-size: 36px;
}

.patientTableWrapper{
  margin-top: 50px;
}



